*{
    margin: 0px;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding-left: 0px;
}
header{
    width: 1200px;
    height: 120px;
    margin: 10px auto;
    position: relative;
}
header>a:nth-child(1){
    position: absolute;
    left: 0px;
    top: 0px;
}
header>img{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
header>div{
    position: absolute;
    right: 0px;
    top: 0px;
}
header>div>span{
    margin: 0px 10px;
}
header>address{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
address>span:nth-child(2){
    font-size: 40px;
    color: red;
}
nav>ul>li{
     display: inline-block;
}
nav>ul>li>a{
    list-style: none;
    font-size: 20px;
    line-height: 40px;
    background-color: #02BDCE;
   padding: 8px 40px;
   text-decoration: none;
}
nav>ul{
    width: 1300px;
    margin: 0px auto;
}
nav{
    background-color: #02BDCE;
}
nav>ul>li>a:hover{
    background-color: white;
    color: #02BDCE;
}

.title>img:nthchild(1){
    width: 2500px;
    margin: 0px auto;
}
.title{
    text-align: center;
}
.notice{
    width: 1300px;
}
.banner{
    background-image: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    width: 1300px;
    height: 500px;
    background-size: 2500px 650px ;
    margin: 0px auto;
    background-position: 50% 50%;
}
.first{
    width: 1300px;
    margin: 0px auto;
}
.left{
    width: 420px;
    float: left;
}
.left>p{
    text-indent: 2em;
}
.right {
    width: 750px;
    float: right;
}
.right>ul{

    line-height: 2.5em;
    padding-left: 0px;
}
.right>ul>li>a{
    float: left;
    color: black;
    text-indent: 2em;
}
.right>ul>li>p{
    float: right;
}
.right>ul>li::after{
    display: block;
    content: ' ';
    visibility: hidden;
    height: 0px;
    clear: both;
}
.right>ul>li{
    list-style: none;
    border-bottom: 1px dashed gray;
    background-image: url(../images/tb.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.first::after{
    display: block;
    content: ' ';
    visibility: hidden;
    height: 0px;
    clear: both;
}
.second{
    background-color: #F7F7F7;
    padding: 20px 0px;
}
.second>div{
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
.second>div>ul{
    flex-basis: 250px;
}
ul>li>h1{
    color: red;
    display: inline-block;
    line-height: 80px;
}
ul>li>h1>p{
    display: inline-block;
    color: grey;
    font-size: 18px;
}
.second>div>ul>li>address{
    color: gray;
}
.second>div>ul>li>a{
    line-height: 2em;
}
.third>div>div>h1{
    color: red;
    display: inline-block;
    line-height: 4em;
    position: relative;
    left: 40%;    
}
.third>div>div>h1>p{
    color: gray;
    display: inline-block;
}
.third>div{
    width: 1300px;
    margin: 0px auto;
    padding-bottom: 40px;
}
.pic{
    display: flex;
    justify-content: space-around;
}
.forth>section>div{
    width: 250px;
    float: left;
}
.forth>section{
    width: 1300px;
    margin: 0px auto;
    padding: 5em;

}
.forth>section::after{
    display: block;
    visibility: hidden;
    height: 0px;
    content: ".";
    clear: both;
}
.forth{
    background-color: #F7F7F7;
}
.forth>section>div>ul>li{
    line-height: 2em;
    background: url(../images/tt.jpg) no-repeat 0 50%;
    text-indent: 1em;
}
h2{line-height: 2em;}
.fifth{
    text-align: center;
}
.fifth>img{
    margin: 0px 100px;
}
footer{
    text-align: center;
    height: 150px;
    background-color: gray;
    padding-top: 20px;
}
footer>p:nth-child(1){
    margin-top: 50px;

}